/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require sweetalert
 *= require_self
 *= require chessboard.min
 */
@import "bootstrap";
body {
  background-image: image_url('background.jpg');
  background-size: cover;
}
body.rooms.show {
  color: #ffffff;
  background-color: #0c1c29;
}
#rulesModal{
  color: #2f2f2f;
}
#logo_title{
  font-family: 'Alfa Slab One', cursive;
  font-size: 100px;
}
#logo_tiele .text{
  color: #fff;
}
#logo_title .apostrophe{
  color: #2f9cdb;
  margin-left: -35px;
}
.room-info{
  color: #2f9cdb;
}
#room_name{
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  color: #2f9cdb;
}
#messages{
  color: #1a3d59;
  font-size: 12px;
  margin-top: 100px;
}
#messages p{
  margin-bottom: 0px;
}
#word{
  margin-top: 80px;
  font-family: 'Alfa Slab One', cursive;
}
#check-btn{
  margin-top: 15px;
}
.room-address, .room-address:focus{
  text-align: center;
  max-width: 382px;
  box-shadow:inset 0 0 10px #0f181e;
  -moz-box-shadow:inset 0 0 10px #0f181e;
  -webkit-box-shadow:inset 0 0 10px #0f181e;
  background-color: #15252f;
  color: #2f9cdb;
}
.room-address::selection {
  background: #000; /* WebKit/Blink Browsers */
}
.room-address::-moz-selection {
  background: #000; /* Gecko Browsers */
}
.beta-info{
  margin-top: -35px;
  font-size: 11px;
}
#friend-link{
  margin-top: 45px;
}
#messages p:first-child {
    color: #fff;
}
#letter_input{
  text-align: center;
  height: 70px;
}

/* main text animation css */
.main {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.svg-text {
  position: relative;
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
  font-size: 28em;
  font-family: 'dragon_is_comingregular', serif;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: #f0f0f0;
}
.svg-text__shaded {
  text-shadow: 0 1px 1px rgba(33, 33, 33, 0.15), 0 3px 10px rgba(33, 33, 33, 0.15), 0 3px 20px rgba(33, 33, 33, 0.35);
}
.svg-text__shaded__stroke {
  stroke-dasharray: 3em .5em;
  stroke-dashoffset: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.svg-text .bold {
  font-size: 150px;
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 200;
}
.svg-text .svg-text__shaded__stroke {
  -webkit-animation: offsetAnim 4.2s ease-in-out infinite;
          animation: offsetAnim 4.2s ease-in-out infinite;
}

.hover {
  display: inline-block;
  color: white;
  font-size: 8em;
  font-family: 'dragon_is_comingregular';
  text-align: left;
  text-shadow: 0 0.005em 0 #e6e6e6, 0 0.01em 0 #e6e6e6, 0 0.015em 0 #e6e6e6, 0 0.02em 0 #e6e6e6, 0 0.025em 0 #e6e6e6, 0 0.025em 0.02em rgba(33, 33, 33, 0.25), 0 0.028em 0.2em rgba(33, 33, 33, 0.45);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(1.75em, 0.45em) rotate(30deg);
          transform: translate(1.75em, 0.45em) rotate(30deg);
}

@-webkit-keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 3.5em;
  }
}

@keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 3.5em;
  }
}


/* buttons CSS */
#button {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #1b628a, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #1b628a, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #1b628a, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 18px;
    color: #fff;
    width: 100%;
}

#button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #2f9cdb;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
    width: 100%;
    text-align: center;
}

#button:hover span {
    background-color: #36adf1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}



#button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
